<p>if the user is a customer (in the company column, it stores 0) then render the customer partial (look in views/partials/coupons/customer.handlebars)</p>

<p>this file is being rendered in views/coupons/index.handlebars</p>

<p>You are a customer</p>

<h2>Coupons for sale</h2>

<ul>
{{#each coupons}}
	
	<li>
		{{#if ../logged_in}} <!-- if you want to access properties in a partial, you must go up -->
			<form data-couponid="{{this.id}}">
				<input type="number" placeholder="purchase quantity?">
				<input type="submit" class="purchaseCoupon">
			</form>
		{{else}}
			<p>Login to buy this coupon :)</p>
		{{/if}}

		<br>
		Item: {{this.item}}
		<br>
		Price: {{this.price}}
		<br>
		Expiration Date: {{this.expiration_date}}
		<br>
		Company Name: {{this.company_name}}
		<br>
		Coupon Code: {{this.coupon_code}}
	</li>

{{/each}}
</ul>