<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>MVC With Cats!</title>
	</head>
	<body>
		{{#if logged_in}}
			{{#if company}}
				<a href="/coupons">Make a Coupon</a>
				<a href="/coupons/created">Coupons Created</a>
			{{else}}
				<a href="/coupons">All Coupons</a>
				<a href="/coupons/purchased">My Purchases</a>
			{{/if}}

			<a href="/users/sign-out" id="sign-out">Sign Out ({{this.username}})</a>
		{{else}}
			<a href="/users/sign-in">Sign In</a>
			<a href="/users/new">Register</a>
		{{/if}}

		

		<p class="clear"><strong>logged_in:</strong> {{logged_in}} |
		<strong>user_email:</strong> {{user_email}} |
		<strong>user_id:</strong> {{user_id}} |
		<strong>company:</strong> {{company}} |
		<strong>username:</strong> {{username}}</p>
		

		{{{ body }}}
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
		<script src="/assets/js/ajax.js"></script>
	</body>

</html>
